

<div class="starter-template">
  <img src= "http://media-cache-ak0.pinimg.com/236x/2a/5b/2a/2a5b2a360210fc92b2da11db8e4b1ada.jpg" />
  <title>This is the</title>
  <h1>This is the song that never ends</h1>
  <%= link_to "Second Line", line2_path %>
</div>
