

<img src= "http://media-cache-ak0.pinimg.com/236x/2a/5b/2a/2a5b2a360210fc92b2da11db8e4b1ada.jpg" />
<title>Some people started</title>
<h1>Some people started singing it, not knowing what it was</h1>
<%= link_to "Fourth Line", line4_path %>
