

<img src= "http://media-cache-ak0.pinimg.com/236x/2a/5b/2a/2a5b2a360210fc92b2da11db8e4b1ada.jpg" />
<title>Yes it goes</title>
<h1>Yes it goes on and on, my friend</h1>
<%= link_to "Third Line", line3_path %>
